*{
    padding: 0px;
    margin: 0px;
}


.bar
{
    background-color: bisque;
    margin: 60px auto;
    overflow: hidden;
    width: 70%;
}

.sidebar
{
    float: left;
    width: 35%;
}

.sidebar > ul
{
    list-style-type: none;
}

.sidebar > h3
{
    text-align: left;
    /* padding: 10px; */
    margin: 10px;
}

.sidebar > ul > li > a
{
    text-decoration:none;
    color:red;
    display: inline-block;
    margin-left: 10px;
}

.mainbar
{
    float: right;
    width: 65%;
}

.mainbar p
{
    padding: 10px;
    margin: 10px;
}

@media (min-width:1001px) 
{
    .sidebar ul li a::after
    {
        content: " ("attr(data-email)")";
        color: grey;
        font-size: 12px;
        font-style: italic;
    }
    
}

@media (min-width:701px) and (max-width:1000px) 
{
    .sidebar ul li a::before
    {
        content: "Email: ";
        color: grey;
        font-style: italic;

    }    
}

@media (min-width:520px) and (max-width:700px) , (min-width:1151px)
{
    .sidebar ul li a
    {
        padding-left: 20px;
       background: url(email.png) no-repeat;
    } 
}

