.container
{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));   /* Higher priority then grid-auto-columns */
    grid-gap: 5px;
    /* grid-auto-rows:minmax(200px,auto);
    grid-auto-columns:minmax(300px,auto); */

}

.item
{
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(224, 58, 197);
}
