*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.steric
{
    color: red;
}

body
{
    color: black;
}

form
{
    border-top: 1px solid rgb(180, 180, 180);
    width: 720px;
    height: 1615px;
    /* background-color: #f8f8f8; */
    margin-top: 10px;
    margin-left: 130px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 60px 0px 0px;
}

#msg
{
    font-size: 30px;
    margin:0px 0px 10.8px ;
    font-weight: 350;
}

#msgtxt
{
    margin: 0px 0px 6px;
    padding: 0px 0px 26px;
}

#mnd
{
    display: flex;

}



#contus
{
    display: flex;
    margin: 15px 0px 5px;
}



#so
{
    color:#00818f;
    margin: 20px 0px 7px;
}

#selection > input[type="checkbox"]
{
    margin-right:2px;
    margin-left: 10px;
   
}

#writemsg
{
    margin-top: 20px;
    margin-bottom: 5px;
}


textarea 
{
    padding: 7px 11px;
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;

}


#location
{
    margin-top: 10px;
    margin-bottom: 5px;
}
select
{
    width: 50%;
    padding: 5px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#name
{
    margin-top: 10px;
    display: flex;
    padding-bottom:50px ;
    border-bottom: 1px solid rgb(180, 180, 180);

}

#fname, #lname
{
    width: 355px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#lname
{
    margin-left: 5px;
}

#ty
{
    font-size: 30px;
    margin:40px 0px 40px 0px ;
    font-weight: 350;
}

#email
{
    margin-top: 10px;
    margin-bottom: 5px;
}

#emailinput
{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#call
{
    margin-top: 10px;
    margin-bottom: 5px;
}

#noinput
{
    width: 40%;
    padding: 5px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#last
{
    margin-top: 10px;
}


#last > input[type="checkbox"]
{
    margin-right:2px;
   
}

#last > #pn 
{
color: #00818f;
}

input[type="submit"]
{
 margin-top: 10px;    
 background-color: #00818f;
 border: 1px solid rgb(180, 180, 180);
 border-radius: 5px;
 color: white;
 height: 40px;
 width: 80px;
}

input[type="submit"]:hover
{
    cursor:grab;
}

